<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smarttoolfactory.tutorial3_1transitions">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter1_activity_transitions.Activity1_0CustomTransitions" />
        <activity android:name=".chapter1_activity_transitions.Activity1_1Basics" />
        <activity android:name=".chapter1_activity_transitions.Activity1_1Details" />
        <activity android:name=".chapter1_activity_transitions.Activity1_2RecyclerViewTransition" />
        <activity android:name=".chapter1_activity_transitions.Activity1_2Details" />
        <activity android:name=".chapter1_activity_transitions.Activity1_3RecyclerViewToViewPager2Transition" />
        <activity android:name=".chapter1_activity_transitions.Activity1_3Details" />
        <activity android:name=".chapter1_activity_transitions.Activity1_5Details" />

        <!-- Fragment Tutorials -->
        <activity
            android:name=".chapter1_activity_transitions.Activity1_4RVtoVP2Transition"
            android:theme="@style/Theme.App.Home" />
        <activity
            android:name=".chapter1_activity_transitions.Activity1_4Details"
            android:theme="@style/Theme.App.Details" />
        <activity android:name=".chapter1_activity_transitions.Activity1_5RecyclerViewTransition2" />

        <activity android:name=".chapter2_fragment_transitions.Activity2_1FragmentTransitionsBasics" />
        <activity android:name=".chapter2_fragment_transitions.Activity2_2FragmentTransitionLifeCycles" />
        <activity
            android:name=".chapter2_fragment_transitions.Activity2_3FragmentTransitions"
            android:theme="@style/Theme.App.NoActionBar" />
        <activity
            android:name=".chapter2_fragment_transitions.Activity2_4FragmentTransitionsWithNavComponents"
            android:theme="@style/Theme.App.NoActionBar" />
        <activity
            android:name=".chapter2_fragment_transitions.Activity2_5FragmentTransitionsWithToolbar"
            android:theme="@style/Theme.App.NoActionBar" />
        <activity
            android:name=".chapter2_fragment_transitions.Activity2_6FragmentExpandCollapseTransitions"
            android:theme="@style/Theme.App.Expandable" />
    </application>

</manifest>